
   <%- include("templates/header") %> 
   
   <body style="display: flex; flex-direction: column; align-items: center; height: 100vh;"><br>
       <h1>Page not found - 404</h1> 
       <br>
       <img src="/sharelooplogo.png" class="img-responsive center-block" style="padding-top: 30px; padding-bottom: 50px;">
       </body>
       <%- include("templates/footer") %>