<div class="pokeCard card" pokename="bulbasaur">
    <h3>B</h3> 
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="bulbasaur">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pokeModal">
      More
    </button>
    </div>o