<%- include("templates/header") %>
<br>
<br>
<div class="container">

    Passwords do not match.
    
        <br>
        <a href='/signup'>Try again</a>
        </div>

        <%- include("templates/footer") %>