<%- include("templates/header") %>
<main class="mb-5">
    <section class="jumbotron text-left mt-3">
        <div class="container">
            <h1 class="jumbotron-heading">GROUPS</h1>
            <p class="lead text-muted">Build Community</p>
            <p>
                <a href="/discoverGroups" class="btn btn-primary my-2">Discover</a>
                <a href="/createAGroup" class="btn btn-secondary my-2">Create</a>
            </p>
        </div>
    </section>
    <hr>
    <div class="album py-2 bg-light">
        <section class="jumbotron text-center mt-2 mb-3">
                <h1 class="jumbotron-heading">MY GROUPS</h1>
        </section>
        <div class="container">
            <div class="row">
                <% for (let i=0; i < 6; i++) { %>
                    <%- include('templates/groupPageCard.ejs') %>
                <% } %>
            </div>
        </div>
        </div>
</main>
<%- include("templates/footer") %>