<%- include("templates/header") %>
<style>
    /* Home page Styling */
    .card-img-top {
        width: 100%;
        height: 250px;
        display: block;
    }

    @media (min-width: 1200px) {
        .card-img-top {
            height: 385px;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .card-img-top {
            height: 325px;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .card-img-top {
            height: 275px;
        }
    }

    @media (min-width: 576px) and (max-width: 767px) {
        .card-img-top {
            height: 225px;
        }
    }

    @media (max-width: 575px) {
        .card-img-top {
            height: 175px;
        }
    }
    /* End of Homepage Styling*/

</style>
    <section class="jumbotron text-center mt-3">
        <div class="container">
            <h1 class="jumbotron-heading">EXPLORE</h1>
            <p class="lead text-muted">Some text here maybe.</p>
            <p>
                <a href="/" class="btn btn-primary my-2">Item</a>
                <a href="/requests" class="btn btn-secondary my-2">Request</a>
            </p>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                
                <% items.forEach(function(item){ %>
                    
                    
                    
                    
                    
                    <%- include("templates/homepageCard", {item: item}) %>
                  <% }) %>
                
                

            </div>
        </div>
</main>
<%- include("templates/footer") %>