<%- include("templates/header") %>

  <style>
    .scrollable-div {
      height: 600px;
      /* Set a specific height */
      overflow-y: auto;
      /* Add vertical scrollbar */
    }
  </style>

  <div class="container">
    <%- include("templates/collection") %>

      <div class="scrollable-div pt-2">
        <% items.forEach(function(item){ %>
          <%- include("templates/itemcard", {item: item}) %>
            <% }) %>
      </div>

  </div>

  <%- include("templates/footer") %>