<%- include("templates/header") %>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    <h1>Incorrect Password.</h1>
                </div>
                <div class="card-body">
                    <p class="lead">You logged in with the wrong password.</p>
                    <a href="/login" class="btn btn-primary">Try Again</a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("templates/footer") %>