<%- include("templates/header") %>
<div class="d-flex align-items-center justify-content-center" style="height: 85vh;">
    <div class="jumbotron text-center">
        <h1 class="display-4">You've been logged out.</h1>
        <p class="lead">Thank you for visiting. We hope to see you again soon!</p>
        <hr class="my-4">
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Sign In</a>
        </p>
    </div>
</div>

<%- include("templates/footer") %>