<%- include("templates/header") %>

    <section class="jumbotron text-left mt-3">
        <div class="container">
            <h1 class="text-center mt-5 mb-3">People Offering</h1>
            <!--Temporary image card-->
            <div class="container d-flex justify-content-center">
                <div class="card p-4 bg-body-secondary" style="border-radius: 15px;">
                    <h2>Item Name</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Curabitur euismod vulputate vehicula. Nunc in ligula tortor.</p>
                </div>
                
            </div>
            <!--End of temporary image card-->
            
        </div>
    </section>
    <hr>
    <div class="album py-2 bg-light">
        <div class="container">
            <div class="row pb-5">
                <div class="container">

                    <% for (let i=0; i < 6; i++) { %>
                        <%- include('templates/peopleInterestedCard') %>
                            <% } %>

                </div>
            </div>
        </div>
        </main>

        <%- include("templates/footer") %>