<%- include("templates/header") %>
<style>
.login-link {
    margin-top: 1rem;
    text-align: center;
    color: #6c757d;
    font-size: 0.875rem;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

.form-group {
            margin-bottom: 15px;
        }

.forget-password-heading {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
  }        
    
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3 class="forget-password-heading">Forget Your Password?</h3>
            <form action="/resetPassword" method="post" class="bg-light p-5 rounded">
                
                <div class="form-group">
                    <label for="dob">Enter your date of birth</label>
                    <input type="date" id="dob" name="date"  class="form-control" required>
                </div>
                
                <div class="form-group">
                    <label for="dob">Enter your email address</label>
                    <input type="email" id="email" name="email" placeholder="Email" class="form-control" required>
                </div>
                
                <div class="form-group">
                    <label for="newPassword">Enter your new password</label>
                    <input type="password" id="newPassword" name="newPassword" placeholder="Password" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="revealPassword" onclick="togglePassword()"> Show Password
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Reset Password" class="btn btn-primary">
                </div>
                <div class="login-link">
                     <a href="/login">Go back to Login ></a>
                </div>
                <div class="login-link">
                    Don't have an account? <a href="/signup">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>

<script>
    function togglePassword() {
        var passwordInput = document.getElementById("newPassword");
        var revealCheckbox = document.getElementById("revealPassword");
        if (revealCheckbox.checked) {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    }
</script>

<%- include("templates/footer") %>