<%- include("templates/header") %>

<form action="/resetPassword" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="date" required>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <input type="submit" value="Reset Password">
  </form>

<%- include("templates/footer") %>