<%- include("templates/header") %>

<div class="container">
    
    <%= errormessage %> is required.
        <br>
        <a href='/createAGroup'>Try again</a>
        </div>

        <%- include("templates/footer") %>