</div>
    
    <footer class="navbar justify-content-evenly fixed-bottom" style="padding: 0; margin: 0; background-color: #f3e9ce;">
      <div class="container py-3">
        
        <a class="text-body-secondary" href="#"><svg class="bi" width="30" height="30">
            <use xlink:href="#home"></use>
          </svg></a>
      
          <a class="text-body-secondary" href="#"><svg class="bi" width="30" height="30">
            <use xlink:href="#collection"></use>
          </svg></a>
      
          <a class="text-body-secondary" href="#"><svg class="bi" width="30" height="30">
            <use xlink:href="#post"></use>
          </svg></a>

          <a class="text-body-secondary" href="#"><svg class="bi" width="30" height="30">
            <use xlink:href="#groups"></use>
          </svg></a></li>

          <a class="text-body-secondary" href="#"><svg class="bi" width="30" height="30">
            <use xlink:href="#profile"></use>
          </svg></a>

        </div>
    </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>