<div class="col-6 col-sm-6 col-md-6 col-lg-6">
  <div class="card mb-4 box-shadow">
    <a href="/itemDetail?id=<%= item._id %>">

      <img class="card-img-top"
        src="https://res.cloudinary.com/deisln2yq/image/upload/c_scale,w_90,h_90/<%= item.image_id %>"
        alt="Some Image In Here">
    </a>

    <div class="card-body">
      <p class="card-text">
        <%= item.title %>
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <!-- <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
          </div> -->
        <small class="text-muted">9 mins</small>
      </div>
    </div>
  </div>
</div>